
.aboutUs{
  background-color: #E0F2F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  text-align: center;
  gap: 40px;
}

.aboutUs-title {
  font-size: 36px;
  font-weight: 700;
}

.aboutUs-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.aboutUs-text{
  border: #00897B 3px solid;
  padding: 30px;
  width: 30%;
  font-size: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
}