.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;

}

.hero-img-block {
  width: 80%;
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-title {
  font-size: 70px;
  line-height: 1.1;
}

.hero-text{
  width: 70%;
  font-size: 18px;
  margin-bottom: 50px;
}

.hero-content {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}


